.App {
  background: linear-gradient(0deg, #aab0f3 0%, #ffecf9 50%);
  height: 100vh;
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #7493b1;
}

#logo {
  margin-left: 2vw;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search {
  width: 50vw;
}

.autocomplete {
  background-color: #c9bde2;
  padding: 0;
  margin: 0;
  cursor: pointer;
  color: black;
  z-index: 99;
}

.autocompleteItems:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;

}

.App-link {
  color: #61dafb;
}

.App-frame {
  display: flex;
  height: 90vh;
  justify-content: space-between;
  width: 100%;
}

.col-1 {
  flex: 33%;
}

.Block {
  text-align: center;
  margin: 5vh;
  background-color: #D3CEDF;
  border-style: solid;
  border-radius: 15vh;
  border-width: 0.5vh;
  border-color: #c9bde2;
  /* hover c9bde2 */
  padding: 10vh;
  height: 60%;
  font-size: 1rem;
}

.description {
  padding-top: 2vh;
  font-size: 1.5rem;
}

sup {
  font-size: x-small;
}