.App {
  background: linear-gradient(0deg, #aab0f3 0%, #ffecf9 50%);
  height: 100vh;
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #7493b1;
}

#logo {
  margin-left: 2vw;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#searchBox {
  width: 40vw;
  height: 5vh;
  border-style: none;
  padding-left: 5vw;
  outline: none;
  background-color: white;
}

#searchButton{
    background-color: #d3d6f3;
    border: none;
    padding: 1.5vh;
    border-radius: 4vh;
    margin-left: 1vw;
}

.searchBoxNoResults {
  border-top-left-radius: 4vw;
  border-top-right-radius: 4vw;
  border-bottom-left-radius: 4vw;
  border-bottom-right-radius: 4vw;

}

.searchBoxResults {
  border-top-left-radius: 4vw;
  border-top-right-radius: 4vw;
}

#autocomplete {
  background-color: #c9bde2;
  padding: 0;
  margin: 0;
  cursor: pointer;
  color: black;
  z-index: 99;
  position: absolute;
  width: 50vw;
  padding-left: 5vw;
  border-bottom-left-radius: 4vw;
  border-bottom-right-radius: 4vw;
}

.autocompleteItems:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;

}

.appFrame {
  display: flex;
  flex-direction: row;
  height: 90vh;
  justify-content: space-around;
  width: 100%;
}

#todayCol {
  width: 50%
}

#futureCol {
  width: 40%
}

.MainBlock {
  height: 70%;
  background-color: #ffffff45;
  text-align: center;
  margin-top: 8vh;
  margin-left: 5vw;
  /* margin-right: 5vh; */
  border-radius: 4vh;
}

.mainBlockHeading {
  text-align: left;
  padding-left: 5vw;
  padding-top: 3vh;
}

.imageContentContainer {
  display: flex;
  justify-content: center;
  padding-top: 2vh;
}

#weatherIconLarge {
  width: 100%;
  height: auto;
}

.tempContent {
  width: 45%;
  text-align: center;
}

#largeTemp {
  font-size: 4.5vw;
}

#largeUnit {
  font-size: 3vw;
}

#largeDescription {
  font-size: 2vw;
}

#extraWeatherInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.extraTemp {
  font-size: 1.5vw;
}

.extraTempDesc {
  font-size: 1vw;
}

.Block {
  height: 30%;
  padding-bottom: 10vh;
  border-radius: 4vh;
  text-align: center;
  background-color: #ffffff45;
  font-size: 2vw;
}

.blockContent {
  margin-top: 2vh;
  padding-left: 2vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#blocksContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70%;
  margin-top: 8vh;
}

.blockImageContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.blockHeading {
  text-align: left;
}

.blockCol1 {
  width:50%;
  padding-left: 2vw;
}

.blockCol2 {
  width:50%
}

.blockTemp{
  padding-top: 5vh;
  text-align: left;
  font-size: 2vw;
}

.blockImage{
  text-align: center;
}

sup {
  font-size: x-small;
}

h1 {
  font-size: 2.5vw;
}

h2 {
  font-size: 2vw;
}

h3 {
  font-size: 1.5vw;
}